---
import LanguageSelectorItem from "./LanguageSelectorItem.astro";
import { Icon } from "astro-icon/components";
---

<div class="inline-block text-left absolute top-[50%] translate-y-[-50%] left-3">
    <div
        class="group dark:text-primary-dark-gray text-black rounded-md text-xs transition-all"
    >
        <button
            type="button"
            class="inline-flex justify-start items-center w-full gap-x-2 px-3 py-2 border-2 group-hover:border-b-0 group-hover:rounded-b-none  dark:border-primary-dark-gray border-black rounded-md dark:group-hover:border-primary-dark-orange group-hover:border-primary-light-blue"
            aria-expanded="true"
            aria-haspopup="true"
        >
            <!-- <currentLocaleData.flag /> -->
            <Icon name="Espa単ol" />
            Espa単ol
            <Icon name="Chevron" />
        </button>
        <ul
            class="dark:bg-black bg-white group-hover:block group-hover:animate-fade-down group-hover:animate-duration-200 hidden  pt-0.5 absolute w-full  border-2  group-hover:rounded-t-none dark:border-primary-dark-gray border-black rounded-md dark:group-hover:border-primary-dark-orange group-hover:border-primary-light-blue"
        >
            <LanguageSelectorItem language="Espa単ol"/>
            <LanguageSelectorItem language="Espa単ol"/>
        </ul>
    </div>
</div>
